.game-board {
  background: beige;
  color: #222;
  display: grid;
  height: 90vh;
  grid-template-areas: ". player2 ."
                       "player3 table player4"
                       ". player1 .";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  width: 60vw;

  .table {
    background-color: green;
    grid-area: table;
  }

  .player-1 {
    border: 1px solid #222;
    grid-area: player1;
  }
}
